{% extends "base-login.html" %}
{% block content %}


<body id="signin-page">
    <div class="page-form">
        <form action="/logindl/" method="post" class="form" id="signin-value">
            <div class="header-content">
                <h1>登陆</h1>
            </div>
            <div class="body-content">
                <p>联合认证登陆:</p>
                <div class="row mbm text-center">
                    <div class="col-md-4"><a href="#" class="btn btn-sm btn-twitter btn-block"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
                    </div>
                    <div class="col-md-4"><a href="#" class="btn btn-sm btn-facebook btn-block"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
                    </div>
                    <div class="col-md-4"><a href="#" class="btn btn-sm btn-google-plus btn-block"><i class="fa fa-google-plus fa-fw"></i>Google +</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-user"></i>
                        <input type="text" placeholder="Username" name="username" class="form-control" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                        <input type="password" placeholder="Password" name="password" class="form-control" id="password">
                    </div>
                </div>

                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success" id="btn-signin">登陆 &nbsp;
                        <i class="fa fa-chevron-circle-right"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="forget-password">
                    <h4>忘记密码?</h4>
                    <p>别担心, 点击 <a href='#' class='btn-forgot-pwd'>这里</a> 重置你的密码.</p>
                </div>
                <hr>
                <p>没有账号? <a id="btn-register" href="/signup">现在注册</a>
                </p>
            </div>
        </form>


    </div>


</body>

{% endblock %}